<div class="container ">
    
    <div class="text-center mb-4">
        <h2>All travel. All right here. All for you.</h2>
        <p>Add more to your trip or book the whole package at once. Either way, you’ll enjoy more savings and JetBlue’s award-winning customer service wherever you go.</p>
    </div>

    
    <ul class="nav justify-content-center mb-4">
        <li class="nav-item">
            <a class="nav-link text-dark Blue" href="#">Paisly</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark Blue" href="#">Packages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark Blue" href="#">Travel Insurance</a>
        </li>
    </ul>

  
    <div class="row justify-content-center">
        
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="https://www.jetblue.com/magnoliapublic/dam/ui-assets/Owned-Channel-Placements/Car_Pod_Paisly_Homepage.jpg?width=764" class="card-img-top" alt="Car Rentals Image">
                <div class="card-body">
                    <h5 class="card-title">Car Rentals</h5>
                    <p class="card-text">Get rolling with TrueBlue points & free cancellations on car rentals. Plus, save up to 35% if you have a JetBlue flight.</p>
                </div>
            </div>
        </div>

       
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="https://www.jetblue.com/magnoliapublic/dam/ui-assets/Owned-Channel-Placements/Hotel_Pod_Paisly_Homepage.jpg?width=764" class="card-img-top" alt="Hotels Image">
                <div class="card-body">
                    <h5 class="card-title">Hotels</h5>
                    <p class="card-text">Save on stays & earn points as a TrueBlue member. Plus, enjoy up to 20% off if you have a JetBlue flight.</p>
                </div>
            </div>
        </div>

        <!-- Third Card -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="https://www.jetblue.com/magnoliapublic/dam/ui-assets/Owned-Channel-Placements/Paisly_Travel_Bags.jpg?width=764" class="card-img-top" alt="Travel Bags Image">
                <div class="card-body">
                    <h5 class="card-title">Travel Bags</h5>
                    <p class="card-text">From recycled materials to a Lifetime Guarantee, shop travel bags as fly as you. Plus, earn TrueBlue points on every purchase.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="https://www.jetblue.com/magnoliapublic/dam/ui-assets/Owned-Channel-Placements/Vacation_Rentals_Paisly_Homepage.jpg?width=764" class="card-img-top" alt="Car Rentals Image">
                <div class="card-body">
                    <h5 class="card-title">Vactional Rental</h5>
                    <p class="card-text">Get rolling with TrueBlue points & free cancellations on car rentals. Plus, save up to 35% if you have a JetBlue flight.</p>
                </div>
            </div>
        </div>

       
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="https://www.jetblue.com/magnoliapublic/dam/ui-assets/Owned-Channel-Placements/Activities_Pod_Paisly_Homepage.jpg?width=764" class="card-img-top" alt="Hotels Image">
                <div class="card-body">
                    <h5 class="card-title">Activities</h5>
                    <p class="card-text">Save on stays & earn points as a TrueBlue member. Plus, enjoy up to 20% off if you have a JetBlue flight.</p>
                </div>
            </div>
        </div>

        <!-- Third Card -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="https://www.jetblue.com/magnoliapublic/dam/ui-assets/Owned-Channel-Placements/Theme_Park_Tickets.jpg?width=764" class="card-img-top" alt="Travel Bags Image">
                <div class="card-body">
                    <h5 class="card-title">Team Park Tickets</h5>
                    <p class="card-text">From recycled materials to a Lifetime Guarantee, shop travel bags as fly as you. Plus, earn TrueBlue points on every purchase.</p>
                </div>
            </div>
        </div>
    </div>
</div>
