<div class="background">
<div class="container">
    <div class="container text-center " id="heading">
        <h1>It's so fly to see you.</h1>
        
    </div>
    <div class="navbar-collapse" id="navbarNav">

    <ul class="nav  justify-content-center">
        <li class="nav-item">
            <a class="nav-link active text-white" href="#">Flights</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Flights + Hotel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Flights + Cruise</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Cars</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Stays</a>
        </li>
    </ul>
</div>


<div class="container search-bar ">
    <form>
        <div class="row ms-3">
            <div class="col-md-2">
                
                <select id="tripType" class="form-select">
                    <option>Roundtrip</option>
                    <option>One Way</option>
                    <option>Multi-City</option>
                </select>
            </div>
            <div class="col-md-2">
                <select id="tripType" class="form-select">
                    <option>Adults</option>
                    <option>Children</option>
                    <option>Infants</option>
                </select>
                
            </div>
            <div class="col-md-6 text-end">
                <input type="checkbox" id="trueBluePoints" class="form-check-input">
                <label for="trueBluePoints" class="form-label text-dark">Use TrueBlue points</label>
                
            </div>
        </div>
        <div class="row ms-3" id="input-filed">
           
            <div class="col-md-2 pt-2">
                <input type="text"  class="form-control" placeholder="From">
            </div>
            <div class="col-md-2 pt-2">
               
                <input type="text"  class="form-control" placeholder="To">
            </div>
            <div class="col-md-2  pt-2">
              
                <input type="date" placeholder="Return" class="form-control">
            </div>
            <div class="col-md-2 text-end  pt-2 p-6">
                <button type="submit" class="btn btn-primary">search flight</button>
            </div>
        </div>
        
    </form>
</div>
</div>