<div class="container text-center ">
    
    <div class="row g-4 justify-content-center">
        <div class="col-md-2 m-5 p-2">
            <img src="https://www.jetblue.com/magnoliapublic/dam/ui-assets/graphics/Logo-JetBlue-Mid-Blue-RGB.svg" class="img-fluid w-10" alt="jetBlue logo" class="img-fluid mb-2">
            <h5>Flights</h5>
            <p>100+ destinations in the U.S., Latin America, Caribbean, Canada and across the Atlantic.</p>
            <a href="#" class="text-primary">Explore low fares &#x2192;</a>
        </div>
        <div class="col-md-2 m-5">
            <img src="https://www.jetblue.com/magnoliapublic/dam/ui-assets/graphics/JBV-Horizontal-midBlue-RGB-v2.svg" alt="jetBlue Vacations logo" class="img-fluid mb-2">
            <h5>Packages</h5>
            <p>Enjoy even more savings (and perks!) with a vacation package.</p>
            <a href="#" class="text-primary">Explore packages &#x2192;</a>
        </div>
        <div class="col-md-2 m-5">
            <img src="https://www.jetblue.com/magnoliapublic/dam/ui-assets/graphics/Paisly-Stacked-midBlue-RGB-v2.svg" alt="Paisly by JetBlue logo" class="img-fluid mb-2">
            <h5>Stays, cars & more</h5>
            <p>Unlock exclusive savings & earn TrueBlue points on it all.</p>
            <a href="#" class="text-primary">Explore trip deals &#x2192;</a>
        </div>
    </div>
    <div class="row g-4 mt-2 justify-content-center">
        <div class="col-md-3 m-5">
            <img src="https://www.jetblue.com/magnoliapublic/dam/ui-assets/graphics/TrueBlue_JetBlue_2.svg" alt="TrueBlue logo" class="img-fluid mb-2">
            <h5>Points & perks</h5>
            <p>Earn points, perks, and award travel with the JetBlue family & our partners.</p>
            <a href="#" class="text-primary">Join TrueBlue &#x2192;</a>
        </div>
        <div class="col-md-2 m-5">
            <img src="https://www.jetblue.com/magnoliapublic/dam/ui-assets/graphics/JetBlue_Barclay_Card_2.svg" alt="jetBlueCard logo" class="img-fluid mb-2">
            <h5>Credit cards</h5>
            <p>Rack up points, perks and savings.</p>
            <a href="#" class="text-primary">Explore our cards &#x2192;</a>
        </div>
        <div class="col-md-2 m-5">
            <img src="https://www.jetblue.com/magnoliapublic/dam/ui-assets/graphics/Troupe-midBlue-RGB-v2.svg" alt="Troupe logo" class="img-fluid mb-2">
            <h5>Group trip planning</h5>
            <p>A free JetBlue-backed app to make your next group trip a snap.</p>
            <a href="#" class="text-primary">Explore Troupe &#x2192;</a>
        </div>
    </div>
</div>
