
    <div class="row justify-content-center mt-4">
        <div class="col-md-4">
            <div class="offer-image"></div>
        </div>
        <div class="col-md-4 text-center ">
            <h1>Game. On.</h1>
            <p>With our winning fares, we make it easier to touch down.</p>
            <p class="font-weight-bold display-4">$49 <small>one-way</small></p>
            <a href="#" class="btn btn-primary">Book now</a>
            <p class="mt-2 text-muted">
                Fare shown: <strong>New York (JFK)</strong> to <strong>Nashville</strong>. Book by 8/29 for travel 9/10–10/30/24 (Tue & Wed travel). Terms apply.
            </p>
        </div>
       
    </div>
    
        <div class="row justify-content-center mt-4">
            <!-- First Card -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://www.jetblue.com/magnoliapublic/dam/ui-assets/promos/BlueBasic3.jpg?width=1440?width=1440" class="card-img-top" alt="Blue Basic Image">
                    <div class="card-body">
                        <h5 class="card-title">Blue Basic. Now less basic.</h5>
                        <p class="card-text">For travel starting September 6, Blue Basic fares include a carry-on that fits in the overhead (space permitting) and a personal item that fits under the seat in front of you.</p>
                        <a href="#" class="btn btn-primary">Get a jump on fall</a>
                    </div>
                </div>
            </div>

            <!-- Second Card -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://www.jetblue.com/magnoliapublic/dam/ui-assets/promos/Paisly-Solo-Back2School-Blue.jpg?width=1440?width=1440" class="card-img-top" alt="Solo Bag Image">
                    <div class="card-body">
                        <h5 class="card-title">Bag a deal. 20% off Solo®.</h5>
                        <p class="card-text">For a limited time on Paisly, back to school savings are in the bag. Plus, earn TrueBlue points & tiles toward perks and Mosaic status with your Solo travel bag purchase.</p>
                        <a href="#" class="btn btn-primary">Shop Solo bags</a>
                        <small class="d-block mt-2">Order by 9/16/24. Terms apply.</small>
                    </div>
                </div>
            </div>
        </div>