<nav class="navbar navbar-expand-lg navbar-custom ">
    <div class="container-fluid ps-5 ms-5">
        <h1 class="navbar-brand " class="text-white text-decoration-none pe-5">jetBlue</h1>
       
        <div class=" navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto justify-content-center ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"id="bookDropdown" role="button" data-bs-toggle="dropdown"aria-expanded="false" >Book</a>
                    <ul  class=" dropdown-menu" aria-labelledby="bookDropdown">
                        <li><a class="dropdown-item" href="#">Flights</a></li>
                        <li><a class="dropdown-item" href="#">Packages</a></li>
                        <li><a class="dropdown-item" href="#">Cars, stays & activities</a></li>
                      </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link pe-3" href="#">Manage Trips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pe-3" href="#">Check In</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="travelInfoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Travel Info</a>
                    <ul class="dropdown-menu mega-dropdown-menu p-3" aria-labelledby="travelInfoDropdown">
                        <div class="row">
                      
                            <div class="col-md-3">
                                <h6 class="dropdown-header">Flying with Us</h6>
                                <ul class="list-unstyled">
                                    <li><a class="dropdown-item" href="#">Inflight Experience</a></li>
                                    <li><a class="dropdown-item" href="#">Mint®</a></li>
                                    <li><a class="dropdown-item" href="#">U.K. & Europe</a></li>
                                    <li><a class="dropdown-item" href="#">Wi-Fi</a></li>
                                    <li><a class="dropdown-item" href="#">Even More® Space</a></li>
                                    <li><a class="dropdown-item" href="#">Our Fares</a></li>
                                    <li><a class="dropdown-item" href="#">Business Travel</a></li>
                                    <li><a class="dropdown-item" href="#">Military Customers</a></li>
                                    <li><a class="dropdown-item" href="#">Destinations</a></li>
                                </ul>
                            </div>

                            
                            <div class="col-md-3">
                                <h6 class="dropdown-header">At the Airport</h6>
                                <ul class="list-unstyled">
                                    <li><a class="dropdown-item" href="#">Bag Info</a></li>
                                    <li><a class="dropdown-item" href="#">Airport Info</a></li>
                                    <li><a class="dropdown-item" href="#">International Travel</a></li>
                                    <li><a class="dropdown-item" href="#">Ground Transfer</a></li>
                                    <li><a class="dropdown-item" href="#">Accessibility Assistance</a></li>
                                    <li><a class="dropdown-item" href="#">Terminal 5 at JFK</a></li>
                                    <li><a class="dropdown-item" href="#">TSA PreCheck</a></li>
                                    <li><a class="dropdown-item" href="#">Digital Immigration Forms</a></li>
                                </ul>
                            </div>

                        
                            <div class="col-md-3">
                                <h6 class="dropdown-header">Traveling Together</h6>
                                <ul class="list-unstyled">
                                    <li><a class="dropdown-item" href="#">Traveling with Kids</a></li>
                                    <li><a class="dropdown-item" href="#">Traveling with Pets</a></li>
                                    <li><a class="dropdown-item" href="#">Group Travel</a></li>
                                </ul>
                            </div>

                            
                            <div class="col-md-3">
                                <h6 class="dropdown-header">Customer Assurance</h6>
                                <ul class="list-unstyled">
                                    <li><a class="dropdown-item" href="#">Customer Service Plan</a></li>
                                    <li><a class="dropdown-item" href="#">Customer Bill of Rights</a></li>
                                    <li><a class="dropdown-item" href="#">Cancellations & Delays</a></li>
                                    <li><a class="dropdown-item" href="#">Travel Insurance</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link" href="#">TrueBlue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pe-2" href="#">
                        <i class="bi bi-cart" style="color: white; font-size:20px; align-self: center;"></i>
                    </a>
                </li>
                <li class="nav-item">
                   <div class="nav-link "><a href="#"><i class="bi bi-search" style="color: white; font-size:20px; align-self: center;"></i></a></div>
                </li>
            </ul>
        </div>
    </div>
</nav>




